:host {
  width: var(--app-width);
  height: var(--app-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: var(--google-bg);

  header {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--google-bg);
  }
}
