:root {
  --app-width: 100vw;
  --app-height: 100vh;
  --google-container-width: 1100px;

  /* Основные размеры (по сетке Google) */
  --serp-max-width: 652px; /* Ширина текстового блока выдачи */
  --serp-content-padding: 20px;

  /* Цвета ссылок (Заголовки) */
  --google-link: #1a0dab; /* Тот самый синий */
  --google-link-visited: #609; /* Посещенная ссылка */
  --google-link-hover: #1a0dab; /* Обычно остается таким же, но с подчеркиванием */

  /* Текст и описание */
  --google-text: #4d5156; /* Серый для описания (Snippet) */
  --google-title: #1a0dab; /* Цвет заголовка */
  --google-url: #202124; /* Цвет URL / Навигации над заголовком */
  --google-icon-color: #1f1f1f;

  /* Фон и границы */
  --google-bg: #ffffff;
  --google-border: #dbdbdb; /* Граница карточек / инпутов */
  --google-hover-bg: #f8f9fa; /* Фон при ховере на подсказки */

  /* Шрифты (Google использует Roboto или Arial) */
  --google-font-family: 'arial', sans-serif;
  --google-font-size-title: 20px;
  --google-font-size-text: 14px;
  --google-font-size-url: 14px;

  /* Специфические фишки */
  --google-result-gap: 28px; /* Отступ между результатами */

  --google-search-bar-radius: 26px;

  --spacing: 8px;
  --spacing-xs: 4px;
  --spacing-sm: 6px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 24px;
  --spacing-xxl: 32px;
  --list-gap: 0.5rem;
  --radius: 12px;
  --radius-xs: 8px;
  --icon-height: 100%;
  --btn-size-nm: 38px;
  --btn-size-xs: 24px;
  --btn-size-sm: 32px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --shadow-color: rgba(0, 0, 0, 0.25);
  --color-glass-text: rgba(71, 85, 105, 0.7);
  --color-component-bg-light: #ebf2ff;
  --color-component-text-light: #475569;
  --color-zen-accent: #ac37ff;
  --color-zen-error: #d33434;
  --color-zen-warn: #d3b334;
  --color-on-warn: #475569;
  --color-zen-success: #22a865;
  --color-on-success: #f1f5f9;
  --color-zen-info: #3b82f6;
  --color-on-info: #f1f5f9;
}
